
td,th {
    border:1px solid gray;
    padding:10px;
    vertical-align: bottom;
    /*
        내가 원하는 요소를 위쪽으로 정렬할지 아래쪽으로 정렬할지,
        가운데 정렬할지 요소를 위아래 정렬할 때 많이 사용된다.
        보통 top middle bottom을 사용한다.
    */
}

table {
    border-collapse: collapse;
    /*
        border-collapse:collapse는 기존 table 태그는 padding이 설정되어 있다
        이를 해결하기 위해서 사용된다.
     */
}
