body{
    font-family: '이쁜폰트';
/* 
    굴림체를 우선으로 적용하고 굴림체가 없다면 고딕체로 적용한다. 
    또 스페이스바가 들어갈 수 있으니 기본적으로 ''안에 넣어주도록 하자
    
    그리고 영문 폰트명을 사용하는게 좋다.
*/
}

@font-face{
/*
    @font-face를 사용하면 커스텀 폰트를 첨부할 수 있다.    
*/
    font-family:'이쁜폰트';
    
    src:url(./중나좋체.ttf);
    
/*
    font-family 호출할 때 사용할 이름
    src 불러올 폰트파일
    
    ttf 파일의 특징은 용량이 크다
    
    언어파일을 구하는 쉬운 방법이 있는데.
    fonts.google.com이라는 구글 폰트 사이트가 있다.
    
    여기서 검색을 하여서 쉽게 폰트를 적용할 수 있도록 설정할 수 있다.
    이런 방식을 CDN 방식이라고 한다.
*/
}

p{
    transform:rotate(0.03deg);
/*
    폰트를 적용했을 때 살짝 거칠어지는 상활이 발생하는데 
    이를 위와같이 사용하면 폰트를 살짝 돌리면 부드러운 효과를 줄 수 있다.  
*/
}